#form-wrapper {     
    width: 500px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -90px;
    margin-left: -200px;
}

.login-div{
    display: grid;
    margin: 2rem 2rem;
}