/* You can add global styles to this file, and also import other style files */
.fontweightbold{
    font-weight: bold;
}
.textaligncenter{
    text-align: center;
}
.fontsize14{
    font-size: 14px;
}