.totalVisit{
    font-size: 14px;font-weight: bold;
}
.fontsize10 {
    font-size: 10px
}
.wordwarpinitial {
    word-wrap: initial
}
.totalvistrow{
    background-color: #8080804f;border-radius: 10px;padding: 2px;
}
.marginauto{
    margin: auto;
}
p {
    font-family: Lato;
  }
  
  .progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
  }
  
  .current {
    position: absolute;
    color: #7788ff; /* #45ccce */
    font-weight: 100;
    line-height: 1;    
  }
  
  round-progress {
    margin: auto;
    width: auto !important;
    height: auto !important;
  }
  
  .cardstyles {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26) !important;
    padding: 8px !important;
  }
  .progress-bar {   
    background-color: #f5365c !important;

  }