<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title">Welcome Admin</h2>
            </div>
            <div class=" col-sm-6 text-left">
              <div class="form-group">
                <input type="date" class="form-control" placeholder="Datepicke">
              </div>
            </div>
          </div>
          <div class=" row" style="padding: 32px;">
            <div class="col-sm-6 text-left">
              <div>Total Properties <span class="fontweightbold fontsize14">(1213)</span></div>
              <div class="progress" style="height:20px">
                <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width:90%;color: white;" role="progressbar"
                  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              </div>
            </div>
            <div class=" col-sm-3 text-left">
              <div class="form-group">
                <div class="row col totalvistrow">
                  <div class="col">
                    <span class="totalVisit">Total Visits</span><br>
                    <span class="fontsize10">Current Month</span>
                  </div>
                  <div class="col marginauto">
                    <h6 class="wordwarpinitial">250</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 text-left" style="max-width: fit-content;">
              <div class="form-group">
                  <div class="row totalvistrow" style="margin: auto;padding: 11px;">
                    <div class="col">                      
                      <span class="totalVisit">Avg. No of Visits <span class="wordwarpinitial">9</span> </span>                    
                    </div>
                  </div>               
              </div>
            </div>
          </div>
          <div class="row" style="padding: 32px;width: 100%;display: inline-flex !important;">
            <div class="col">
              <div class="card cardstyles">
                <div class="fontweightbold textaligncenter">Offers Made</div>
                <div class="current" [ngStyle]="getOverlayStyle()">
                  {{ offersMadecurrent }}/{{ offersmademax }}
                </div>
                <round-progress [current]="offersMadecurrent" [max]="offersmademax" [clockwise]="clockwise" [responsive]="responsive"
                  [duration]="duration"></round-progress>
              </div>              
            </div>
            <div class="col">
              <div class="card cardstyles">
              <div class="fontweightbold textaligncenter">Deals Closed</div>
              <div class="current" [ngStyle]="getOverlayStyle()">
                {{ dealsclosedcurrent }}/{{ dealsclosedmax }}
              </div>
              <round-progress [current]="dealsclosedcurrent" [max]="dealsclosedmax" [clockwise]="clockwise" [responsive]="responsive"
                [duration]="duration"></round-progress>
            </div>
            </div>
            <div class="col">
              <div class="card cardstyles">
              <div class="fontweightbold textaligncenter">Leads Closed</div>
              <div class="current" [ngStyle]="getOverlayStyle()">
                {{ leadsClosedCurrent }}/{{ leadsClosedmax }}
              </div>
              <round-progress [current]="leadsClosedCurrent" [max]="leadsClosedmax" [clockwise]="clockwise" [responsive]="responsive"
                [duration]="duration"></round-progress>
            </div>
            </div>
            <div class="col" style="max-width: fit-content;">    
                  <div class="row totalvistrow" style="margin-top: 15px;">
                    <div class="col-12" style="text-align: center;">
                      <span class="totalVisit">Closed</span><br>
                      <span class="fontsize10">Current Month</span><br>
                      <span class="fontsize10">$ 40.0 M</span>
                    </div>                    
                  </div>   
                <div class="row totalvistrow" style="margin-top: 10px;">  
                  <div class="col-12" style="text-align: center;">              
                    <span class="totalVisit">Closed</span><br>
                      <span class="fontsize10">Current Quarter</span><br>
                      <span class="fontsize10">$120.0 M</span>   
                  </div>                     
                </div>
              </div>
          </div>

          <div class="row" style="padding: 32px;width: 100%;display: inline-flex !important;">
            <div class="col">
              <div class="card cardstyles">
                <div class="fontweightbold textaligncenter">Offers Made</div>
                <div class="current" [ngStyle]="getOverlayStyle()">
                  {{ offersMadecurrent }}/{{ offersmademax }}
                </div>
                <round-progress [current]="offersMadecurrent" [max]="offersmademax" [clockwise]="clockwise" [responsive]="responsive"
                  [duration]="duration"></round-progress>
              </div>              
            </div>
            <div class="col">
              <div class="row totalvistrow">
                <div class="col-12">
                  <span class="totalVisit">Top Performance</span><br>
                  <span class="fontsize10">Current Month</span>  
                  <table class=" table tablesorter" id="">                    
                    <tbody>
                      <tr *ngFor="let lead of leadsList1">
                        <td>1</td>
                        <td>{{lead.industry}}</td>
                        <td>{{lead.address?.state}}</td>                             
                      </tr>
                    </tbody>
                  </table>                
                </div>                    
              </div>
            </div>
            <div class="col">
              <div class=" card cardstyles">                
                <div class=" card-body">
                  <div class=" table-responsive">
                    <h4 class="card-title">Process </h4>
                    <h6>Current Month</h6>
                    <table class="table tablesorter" id="">
                      <thead class="text-primary">
                        <tr>
                          <th>Name</th>
                          <th>Company</th>
                          <th>State</th>
                          <th>Phone</th>
                          <th>Email</th>
                          <th>Lead Status</th>
                          <th>Created Date</th>
                          <th>Owner</th>                      
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let lead of leadsList1">
                          <td>{{lead.firstName}} {{lead.lastName}}</td>
                          <td>{{lead.industry}}</td>
                          <td>{{lead.address?.state}}</td>
        
                          <td>{{lead.mobile}}</td>
                          <td>{{lead.email}}</td>
        
                           <td>{{lead.leadStatus}}</td>
                           <td>{{lead.createdDate | date}}</td>
        
                            <td>{{ lead.owner}}</td>                           
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </div>
      </div>
    </div>
  </div>